SPOTIFY_ID=xxxx
SPOTIFY_SECRET=xxxx
SPOTIFY_REDIRECT_URL=http://localhost:58071/callback

PLAYLIST_REQUEST_INTERVAL_MINUTES=10

# Uncomment the following line to cache Spotify auth token on the file system
#CACHE_AUTH_TOKEN=1
