<h3>Select the playlist to use</h3>
<ul>
    {{- if .Playlists }}
    {{- range .Playlists }}
    {{if eq .ID $.Activated.ID}}
    <li>{{ .Name }} <small>({{ .ID }})</small></li>
    {{else}}
    <li><a href="#" hx-post="/playlist-select/{{ .ID }}" hx-target="#runstate"hx-swap="innerHTML"
           hx-on::before-request="htmx.swap('#playlist', '<em>Activating...</em>', {swapStyle: 'innerHTML'})"
           hx-on::after-request="htmx.ajax('GET', '/playing/0', '#content')"
    >{{ .Name }} <small>({{ .ID }})</small></a></li>
    {{end}}
    {{- end }}
    {{- else }}
    <li><em>No playlists found</em></li>
    {{- end }}
</ul>

<a href="#" hx-get="/playing/0" hx-target="#content" hx-swap="innerHTML">Cancel</a>
