<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hello</title>
    <script src="/static/htmx.min.js"></script>
    <style>
        body {
            font-family: sans-serif;
            margin: 2rem;
        }

        .box {
            padding: 1rem;
            border: 1px solid #ddd;
            border-radius: 8px
        }

        #runstate {
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
<h1>Hello, {{.Username}}</h1>

<div id="runstate">
    Spotify handling is {{if .Running}}running{{else}}stopped{{end}},
    <a href="#" hx-post="/toggle" hx-target="#runstate" hx-swap="innerHTML">{{if .Running}}STOP{{else}}START{{end}}</a>
</div>

<nav>
    <a href="#" hx-get="/now" hx-target="#content" hx-swap="innerHTML">Now Playing</a> |
    <a href="#" hx-get="/last/5" hx-target="#content" hx-swap="innerHTML">Last 5 songs</a> |
    <a href="#" hx-get="/playlists" hx-target="#content" hx-swap="innerHTML">Your Playlists</a>
</nav>
<p></p>
<div id="content" class="box" hx-get="/now" hx-trigger="load" hx-swap="innerHTML">
    <em>Loading last 5 songs…</em>
</div>
</body>
</html>
